.form{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    padding: 30px;
    background-color: #d9d9d9;
}
.list{
    position: absolute;
    left:29%;
    top: 50%;
    z-index: 3;
  
}
.arrow-mark{
    background-color: red;
    border-radius: 50%;
    padding: 8px;
    margin-left: 20px;
}
.icon{
   animation: rotateIn 1s  forwards;
}
 form > input{
    padding: 10px;
    margin-left: 20px;
    text-align: center;
    text-transform: lowercase;
 }
 .date{
    height: 15px;
 }
 .search-btn{
    margin-left: 20px;
    padding: 10px;
    color: white;
    background-color: red;
    font-weight: 500;
    border: 1px solid red;
 }
 table{
   background-color: white;
 }

 td, th{
   padding: 10px;
   text-align: center;
   margin-left: 10px;
  
 }
table > tr:hover{
   background-color: red;
   border: 10px solid red;
  }

